<table class="table">

<tbody>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2025</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				HINSCAN: Efficient Structural Graph Clustering over Heterogeneous Information Networks.
				<span class="venuetype"></span><span class="venue">ICDE 2025</span>.
			</span><br />
			<span class="authors">
				Long Yuan*, Xiaoting Sun, Zi Chen, Peng Cheng, Longbin Lai, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Most Probable Maximum Weighted Butterfly Search.
				<span class="venuetype"></span><span class="venue">ICDE 2025</span>.
			</span><br />
			<span class="authors">
				Yu Shao, Peng Cheng*, Longbin Lia, Long Yuan, Wangze Ni, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Numerical Estimation of Spatial Distribution under Local Differential Privacy.
				<span class="venuetype"></span><span class="venue">ICDE 2025</span>.
			</span><br />
			<span class="authors">
				Leilei Du, Peng Cheng*, Libin Zheng, Xiang Lian, Lei Chen, Wei Xi, and Wangze Ni.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				StructRide: A Framework to Exploit the Structure Information of Shareability Graph in Ridesharing.
				<span class="venuetype"></span><span class="venue">ICDE 2025</span>.
			</span><br />
			<span class="authors">
				Jiexi Zhan, Yu Chen, Peng Cheng*, Lei Chen, Wangze Ni, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Revisiting Graph Analytics Benchmarks.
				<span class="venuetype"></span><span class="venue">SIGMOD 2025</span>.
			</span><br />
			<span class="authors">
				Yu Shao, Lingkai Meng, Long Yuan*, Longbin Lai, Peng Cheng, Xue Li, Wenyuan Yu, Wenjie Zhang, Jingren Zhou, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				ContextCache: Context-Aware Semantic Cache for Multi-Turn Queries in Large Language Models (Short Paper).
				<span class="venuetype"></span><span class="venue">PVLDB 2025 18(12)</span>.
			</span><br />
			<span class="authors">
				Jianxin Yan, Wangze Ni*, Lei Chen, Xuemin Lin, Peng Cheng, Zhan Qin, and Kui Ren.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Authenticated Aggregate Queries with Boolean Range Predicates on Blockchains.
				<span class="venuetype"></span><span class="venue">PVLDB 2025 18(10)</span>.
			</span><br />
			<span class="authors">
				Weijie Sun, Zihuan Xu, Wangze Ni*, Lei Chen, Peng Cheng, and Chen Jason Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				VSAG: An Optimized Search Framework for Graph-based Approximate Nearest Neighbor Search (Industrial Track).
				<span class="venuetype"></span><span class="venue">PVLDB 2025 18(12)</span>.
			</span><br />
			<span class="authors">
				Xiaoyao Zhong, Haotian Li, Jiabao Jin, Mingyu Yang, Deming Chu, Xiangyu Wang, Zhitao Shen, Wei Jia, George Gu, Yi Xie, Xuemin Lin, Heng Tao Shen, Jingkuan Song, and Peng Cheng*.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Infinite Stream Estimation under Personalized 𝑤-Event Privacy.
				<span class="venuetype"></span><span class="venue">PVLDB 2025 18(6)</span>.
			</span><br />
			<span class="authors">
				Leilei Du, Peng Cheng*, Lei Chen, Heng Tao Shen, Xuemin Lin, and Wei Xi.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2024</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Cross-domain-aware Worker Selection with Training for Crowdsourced Annotation.
				<span class="venuetype"></span><span class="venue">ICDE 2024</span>.
			</span><br />
			<span class="authors">
				Yushi Sun, Jiachuan Wang*, Peng Cheng, Libin Zheng*, Lei Chen, and Jian Yin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Wait to be Faster: a Smart Pooling Framework for Dynamic Ridesharing.
				<span class="venuetype"></span><span class="venue">ICDE 2024</span>.
			</span><br />
			<span class="authors">
				Xiaoyao Zhong, Jiabao Jin, Peng Cheng*, Wangze Ni, Libin Zheng, Lei Chen, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Privacy-preserving Traffic Flow Release with Consistency Constraints.
				<span class="venuetype"></span><span class="venue">ICDE 2024</span>.
			</span><br />
			<span class="authors">
				Xiaoting Zhu, Libin Zheng*, Chen Zhang, Peng Cheng, Rui Meng, Lei Chen, Xuemin Lin, and Jian Yin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				TrendSharing: a Framework to Discover and Follow the Trends for Shared Mobility Services.
				<span class="venuetype"></span><span class="venue">ICDE 2024</span>.
			</span><br />
			<span class="authors">
				Jiexi Zhan, Han Wu, Peng Cheng*, Libin Zheng, Lei Chen, Chen Zhang, Xuemin Lin, and Wenjie Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Efficient Learning-based Top-k Representative Similar Subtrajectory Query.
				<span class="venuetype"></span><span class="venue">ICDE 2024</span>.
			</span><br />
			<span class="authors">
				Kunming Wang, Shiyu Yang*, Jiabao Jin, Peng Cheng, Jianye Yang, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Money Never Sleeps: Maximizing Liquidity Mining Yields in Decentralized Finance.
				<span class="venuetype"></span><span class="venue">KDD 2024</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Yiwei Zhao, Weijie Sun, Lei Chen, Peng Cheng*, Chen Jason Zhang, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Survey of Distributed Graph Algorithms on Massive Graphs.
				<span class="venuetype"></span><span class="venue">ACM Computing Surveys</span>.
			</span><br />
			<span class="authors">
				Lingkai Meng, Yu Shao, Long Yuan, Longbin Lai, Peng Cheng, Xue Li, Wenyuan Yu, Wenjie Zhang, Xuemin Lin, and Jingren Zhou.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2023</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Online Ridesharing with Meeting Points.
				<span class="venuetype"></span><span class="venue">PVLDB 2022 15(13)</span>.
			</span><br />
			<span class="authors">
				Jiachuan Wang, Peng Cheng*, Libin Zheng, Lei Chen, and Wenjie Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Efficient Non-Learning Similar Subtrajectory Search.
				<span class="venuetype"></span><span class="venue">PVLDB 2023 16(11)</span>.
			</span><br />
			<span class="authors">
				Jiabao Jin, Peng Cheng*, Lei Chen, Xuemin Lin, and Wenjie Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dynamic Private Task Assignment under Differential Privacy.
				<span class="venuetype"></span><span class="venue">ICDE 2023</span>.
			</span><br />
			<span class="authors">
				Leilei Du, Peng Cheng*, Libin Zheng, Wei Xi, Xuemin Lin, Wenjie Zhang, and Jing Fang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Utility-Aware Payment Channel Network Rebalance.
				<span class="venuetype"></span><span class="venue">PVLDB 2023 17(2)</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Pengze Chen, Lei Chen, Peng Cheng*, Chen Jason Zhang, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2022</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				GridTuner: Reinvestigate Grid Size Selection for Spatiotemporal Prediction Models.
				<span class="venuetype"></span><span class="venue">ICDE 2022</span>.
			</span><br />
			<span class="authors">
				Jiabao Jin, Peng Cheng*, Lei Chen, Xuemin Lin, and Wenjie Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Efficient k-clique Listing with Set Intersection Speedup.
				<span class="venuetype"></span><span class="venue">ICDE 2022</span>.
			</span><br />
			<span class="authors">
				Zhirong Yuan, You Peng, Peng Cheng, Li Han*, Xuemin Lin, Lei Chen, and Wenjie Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Crowdsourced Fact Validation for Knowledge Bases.
				<span class="venuetype"></span><span class="venue">ICDE 2022</span>.
			</span><br />
			<span class="authors">
				Libin Zheng, Peng Cheng, Lei Chen, Jianxin Yu, Xuemin Lin, and Jian Yin*.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Mixing Transactions with Arbitrary Values on Blockchains.
				<span class="venuetype"></span><span class="venue">ICDE 2022</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Peng Cheng*, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2021</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				When the Recursive Diversity Anonymity Meets the Ring Signature.
				<span class="venuetype"></span><span class="venue">SIGMOD 2021</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Peng Cheng*, Lei Chen, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Crowdrebate: An Effective Platform to Getting more Rebate for Customers (Short Paper).
				<span class="venuetype"></span><span class="venue">ICDE 2021</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Nian Chen, Peng Cheng, Lei Chen, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Queueing-Theoretic Framework for Vehicle Dispatching in Dynamic Car-Hailing.
				<span class="venuetype"></span><span class="venue">PVLDB 2021 14(11)</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Jiabao Jin, Lei Chen, Xuemin Lin, and Libin Zheng.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Privacy-Preserving Batch-based Task Assignment in Spatial Crowdsourcing with Untrusted Server (1 of 5 Best Papar Nominations).
				<span class="venuetype"></span><span class="venue">CIKM</span>.
			</span><br />
			<span class="authors">
				Maocheng Li, Jiachuan Wang, Libin Zheng, Han Wu, Peng Cheng*, Lei Chen, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Privacy-preserving worker allocation in crowdsourcing.
				<span class="venuetype"></span><span class="venue">VLDB Journal</span>.
			</span><br />
			<span class="authors">
				Libin Zheng, Lei Chen, and Peng Cheng.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2020</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fair task assignment in spatial crowdsourcing.
				<span class="venuetype"></span><span class="venue">PVLDB 2020 13(12)</span>.
			</span><br />
			<span class="authors">
				Zhao Chen, Peng Cheng*, Lei Chen, Xuemin Lin, and Cyrus Shahabi.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Demand-aware route planning for shared mobility services.
				<span class="venuetype"></span><span class="venue">PVLDB 2020 13(7)</span>.
			</span><br />
			<span class="authors">
				Jiachuan Wang, Peng Cheng*, Libin Zheng, Chao Feng, Lei Chen, Xuemin Lin, and Zheng Wang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Task Allocation in Dependency-aware Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">ICDE 2020</span>.
			</span><br />
			<span class="authors">
				Wangze Ni, Peng Cheng*, Lei Chen, and Xuemin Lin.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Maximizing the Utility in Location-Based Mobile Advertising.
				<span class="venuetype"></span><span class="venue">TKDE</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Lei Chen, and Siyuan Liu.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Quality-Assured Synchronized Task Assignment in Crowdsourcing.
				<span class="venuetype"></span><span class="venue">TKDE</span>.
			</span><br />
			<span class="authors">
				Jiayang Tu, Peng Cheng, and Lei Chen*.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2019</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Cooperation-Aware Task Assignment in Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">ICDE 2019</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Lei Chen, and Jieping Ye.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Minimizing Maximum Delay of Task Assignment in Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">ICDE 2019</span>.
			</span><br />
			<span class="authors">
				Zhao Chen, Peng Cheng*, Yuxiang Zeng, and Lei Chen*.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Queueing-Theoretic Framework for Vehicle Dispatching in Dynamic Car-Hailing (Short Paper).
				<span class="venuetype"></span><span class="venue">ICDE 2019</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Chao Feng, Lei Chen, and Zheng Wang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Maximizing the Utility in Location-Based Mobile Advertising (Short Paper).
				<span class="venuetype"></span><span class="venue">ICDE 2019</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Lei Chen, and Siyuan Liu.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Auction-based Order Dispatch and Pricing in Ridesharing.
				<span class="venuetype"></span><span class="venue">ICDE 2019</span>.
			</span><br />
			<span class="authors">
				Libin Zheng, Peng Cheng*, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2018</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Effective Solution for Labeling Candidates with a Proper Ration for Efficient Crowdsourcing.
				<span class="venuetype"></span><span class="venue">DASFAA 2018</span>.
			</span><br />
			<span class="authors">
				Zhao Chen, Peng Cheng, Chen Zhang, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An Experimental Evaluation of Task Assignment in Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">PVLDB 2018</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xun Jian, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				FROG: A Fast and Reliable Crowdsourcing Framework.
				<span class="venuetype"></span><span class="venue">TKDE 31(5)</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Xun Jian, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2017</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Utility-Aware Ridesharing on Road Networks.
				<span class="venuetype"></span><span class="venue">SIGMOD 2017</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Hao Xin, and Lei Chen.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Prediction-based Task Assignment in Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">ICDE 2017</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Lei Chen, and Cyrus Shahabi.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2016</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Task Assignment on Multi-Skill Oriented Spatial Crowdsourcing.
				<span class="venuetype"></span><span class="venue">TKDE 28(8)</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Lei Chen, Jinsong Han, and Jizhong Zhao.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2015</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Reliable Diversity-Based Spatial Crowdsourcing by Moving Workers.
				<span class="venuetype"></span><span class="venue">PVLDB 2015 8(10)</span>.
			</span><br />
			<span class="authors">
				Peng Cheng, Xiang Lian, Zhao Chen, Rui Fu, Lei Chen, Jinsong Han, and Jizhong Zhao.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				<big><strong>2014</strong></big><br/>
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				gMission: a general spatial crowdsourcing platform.
				<span class="venuetype"></span><span class="venue">PVLDB 2014 7(13)</span>.
			</span><br />
			<span class="authors">
				Zhao Chen, Rui Fu, Ziyuan Zhao, Zheng Liu, Leihao Xia, Lei Chen, Peng Cheng, Caleb Chen Cao, Yongxin Tong, and Chen Jason Zhang.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
